- var date = new Date();

p.text-center.text-secondary Site built on  
    a(href='https://github.com') Wallnut

p.text-center.text-secondary #{getSiteSetting('Site Title')} &copy; #{date.getFullYear()}