nav.navbar.navbar-dark.bg-dark.navbar-expand-md
    a.navbar-brand(href='/') Site Title

    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#nav", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

    div.collapse.navbar-collapse.justify-content-end#nav
        ul.nav.navbar-nav
            li.nav-item
                a.nav-link(href='/admin') Dashboard
            li.nav-item
                a.nav-link(href='/admin/posts') Posts
            li.nav-item
                a.nav-link(href='/admin/settings') Settings
            li.nav-item
                a.nav-link(href='/') Logout
