h2.text-center Admin Login

form
    .form-group
        label(for='login-username') Username
        input.form-control(type='text', id='login-username', placeholder="Username")

    .form-group
        label(for='login-password') Password
        input.form-control(type='password', id='login-password', placeholder="Password")

    button.btn.btn-primary(type='submit', id='login-button') Submit

script
    include authentication-manager.js
script.
    var username = document.getElementById('login-username');
    var password = document.getElementById('login-password');

    document.getElementById('login-button').addEventListener('click', function(event) {
        event.preventDefault();
        authenticationManager.login(username.value, password.value, './');
    });
