h2.text-center Select A Post To Edit

if posts
    ul.list-group
        each post in posts
            li.list-group-item.list-group-item-action
                a(href=`posts/${post._id}`)= post.title
else
    p You haven't created any posts.

a(href="./posts/create")
    button.mt-5.btn.btn-primary(type='button') New Post