div(style='max-width: 540px; margin: auto;')
    h1 Login

    form
        .form-group
            label(for='login-username') Title
            input.form-control(type='text', id='login-username', placeholder="Username")

        .form-group
            label(for='login-password') Content
            input.form-control(type='password', id='login-password', placeholder="Password")

        button.btn.btn-primary(type='button') Submit
