p Start of Blog



if posts
    each post in posts
        a(href=`blog/${post._id}`)
            h1= post.title
        h3= post.author
        p= post.content
else
    p No posts to display
    


p End of Blog