- var date = new Date();

p.text-center.text-secondary This site is built on 
    a(href='https://github.com') Wallnut. 
    |Are you the site admin? 
    a(href='/admin/login') Login here.

p.text-center.text-secondary #{getSiteSetting('Site Title')} &copy; #{date.getFullYear()}
