nav.navbar.navbar-light.bg-light.navbar-expand-md
    a.navbar-brand(href='#') Navbar

    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#nav", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

    div.collapse.navbar-collapse.justify-content-end#nav
        ul.nav.navbar-nav
            li.nav-item
                a.nav-link(href='/') Home

            li.nav-item
                a.nav-link(href='/Blog') Blog